name: Automatisation des tests
on: push
jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Compilation
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test

 
  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Job summary (facultatif mais pratique)
        run: |
          echo "### Résultat du test "

  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test fonction add
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator sub 10 5

  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test fonction add
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator mul 10 5

  Test_Div:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test fonction add
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator div 10 5

  Test_Car:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ..
          make
 
      - name: Run test "add" and capture report
        run: |
          cd build
          set -e
          echo "== Test carré 10 ==" > reportcar.txt
          ./src/calculator calculator 10 | tee -a reportcar.txt
          echo "Exit code: $?" >> reportcar.txt
 
      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-add-report
          path: build/reportcar.txt      # <-- le fichier à récupérer
 
      - name: Job summary (facultatif mais pratique)
        run: |
          echo "### Résultat du test *add*" >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat build/reportcar.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

  Deployment:
    runs-on: ubuntu-latest
    needs:
      - Test_Add
      - Test_Sub
      - Test_Mul
      - Test_Div
      - Test_Car
    steps:
      - name: Deployment
        run: |
          echo "Déploiement de la solution"
